<section style="background-color: ghostwhite; min-height: 100vh">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="jumbotron jumbotron-fluid" style="background-color: transparent;padding-bottom: 10px">
                                    <div class="container">
                                        <h1 class="display-5">Herzlich Willkommen</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Kunden-Mail verfassen</h4>
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Betreff</label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ihr Betreff">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Ihre Nachricht</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                                            </div>
                                            <button type="button" class="btn btn-primary float-right"
                                                    style="border-radius: 0px; border: solid white 0px; background-color: darkgoldenrod">
                                                <!--(click)="addItemToDatabase()" *ngIf="transferReady"-->Absenden</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
