<section style="background-color: ghostwhite; min-height: 100vh">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="jumbotron jumbotron-fluid" style="background-color: transparent;padding-bottom: 10px">
                                    <div class="container">
                                        <h1 class="display-5">Herzlich Willkommen</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-4">
                                                <h5 class="py-1" style="color: darkgoldenrod;font-size: 20px;font-weight: 300">Letzte Systemmailings</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="media shadow p-2 mb-1 bg-white rounded" style="background-color: white;border-bottom: solid orange 3px">
                                                    <i class="fas fa-envelope m-3" style="color: orange;font-size: 30px"></i>
                                                    <div class="media-body m-2">
                                                        <small class="float-right">19.02.1996</small>
                                                        <h6 class="mt-0">Max Mustermann</h6>
                                                        <p>Reichenbach</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="media shadow p-2 mb-1 bg-white rounded" style="background-color: white;border-bottom: solid orange 3px">
                                                    <i class="fas fa-envelope m-3" style="color: orange;font-size: 30px"></i>
                                                    <div class="media-body m-2">
                                                        <small class="float-right">19.02.1996</small>
                                                        <h6 class="mt-0">Max Mustermann</h6>
                                                        <p>Reichenbach</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="media shadow p-2 mb-1 bg-white rounded" style="background-color: white;border-bottom: solid orange 3px">
                                                    <i class="fas fa-envelope m-3" style="color: orange;font-size: 30px"></i>
                                                    <div class="media-body m-2">
                                                        <small class="float-right">19.02.1996</small>
                                                        <h6 class="mt-0">Max Mustermann</h6>
                                                        <p>Reichenbach</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-secondary float-right" style="background-color: transparent;border: solid white 0px;color: darkgrey;font-weight: 300;font-size: 15px">Mehr Anzeigen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h3>System-Automatisierung</h3>
                                        <hr>
                                        <div class="shadow p-4 mb-1 bg-white rounded">
                                            <h5 style="color: darkgoldenrod;font-weight: 100" class="pb-2">Kundenspezifische Benachrichtigungen</h5>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Neue Objekte einer Marke, die ein Kunde oft kauft sind verfügbar.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Ein Kunde hat über einen langen Zeitraum nicht mehr im Geschäft eingekauft.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Ein Kunde hat Geburtstag.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Ein Kunde ist seit X Jahren Besitzer einer Kundenkarte.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Von einem Produkttyp, den der Kunde oft kauft, wurde neue Ware eingetragen.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="shadow p-4 mb-1 bg-white rounded">
                                            <h5 style="color: darkgoldenrod;font-weight: 100" class="pb-2">Allgemeine Benachrichtigungen</h5>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                   Neues Event ist in der IMI-Mode Event-Welt verfügbar.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Ein Event findet demnächst statt.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Es gibt aktuelle Nachrichten (IMI-Mode Aktuelles).
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="shadow p-4 mb-1 bg-white rounded">
                                            <h5 style="color: darkgoldenrod;font-weight: 100" class="pb-2">Facebook Benachrichtigungen</h5>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Es sind neue Produkte bei IMI-Mode verfügbar.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Es gibt Neuigkeiten bei IMI-Mode.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                            <div class="form-check m-2 pb-2">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                                <label class="form-check-label" for="defaultCheck1" style="font-weight: 400">
                                                    Ein neue Event wurde angelegt.
                                                </label><br>
                                                <small style="color: grey">Info zu dem Inhalt der Systembenachrichtigung</small>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
