<app-navigation-top></app-navigation-top>

<div class="jumbotron jumbotron-fluid"
     style="background-image: url('../../assets/background.jpg');background-position: center;background-size: cover;
     background-repeat: no-repeat;color: white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-2 col-4">
                <img src="../../assets/imi-logo.png" class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fas fa-shopping-bag" style="font-size: 40px;color: darkgoldenrod;padding-bottom: 20px"></i>
                        <h3 style="color: darkgoldenrod">Vielen Dank für Ihre Bestellung!</h3>
                        <p style="color: darkgrey">Wir werden uns so schnell wie möglich mit Ihnen in Verbindung setzen und Ihnen Ihre Bestellung, sowie Zustellung per Mail bestätigen!</p>
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="color: lightslategrey">Mehr zu IMI's Modewelt</h5>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 15px">
                                <div class="col-4">
                                    <a href="https://www.imi-mode.de">
                                    <i class="fas fa-laptop" style="font-size: 30px;color: darkgoldenrod;padding-bottom: 5px"></i>
                                    <h6 style="color: darkgrey">Website</h6>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://www.instagram.com/imi.mode.waldbronn/?hl=de">
                                        <i class="fab fa-instagram" style="font-size: 30px;color: darkgoldenrod;padding-bottom: 5px"></i>
                                        <h6 style="color: darkgrey">Instagram</h6>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="https://www.facebook.com/ImiModeWaldbronn/">
                                        <i class="fab fa-facebook-f" style="font-size: 30px;color: darkgoldenrod;padding-bottom: 5px"></i>
                                        <h6 style="color: darkgrey">Facebook</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
