<section style="background-color: ghostwhite; min-height: 100vh">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">

                                    </div>
                                </div>
                                <div class="jumbotron jumbotron-fluid" style="background-color: transparent;padding-bottom: 10px">
                                    <div class="container">
                                        <h1 class="display-5">Herzlich Willkommen</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="https://www.imi-mode.de/new_img/test.png" class="img-responsive" width="100%">
                                    </div>
                                    <div class="col-3">
                                        <small>Kunde</small>
                                        <h6>{{purchase.customerName}}</h6>
                                        <small>Kunden-Nummer</small>
                                        <h6>{{purchase.customerNumber}}</h6>

                                    </div>
                                    <div class="col-3">
                                        <small>Kauf</small>
                                        <h6>{{purchase.creationDate.toDate()| date: 'dd.MM.yyyy'}}</h6>
                                        <small>Status</small>
                                        <h6><span class="badge badge-primary badge-pill"
                                                  style="font-weight: 300;text-transform: uppercase;">
                                        Abgeschlossen
                                        </span></h6>
                                    </div>
                                    <div class="col-3">
                                        <small>Preis</small>
                                        <h6>{{purchase.price}} €</h6>
                                        <small>Rabatt</small>
                                        <h6>- €</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Einkäufe</h5>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr style="color: grey">
                                                <th scope="col">Marke</th>
                                                <th scope="col">Produkt</th>
                                                <th scope="col">Größe</th>
                                                <th scope="col">Preis</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr *ngFor="let brand of purchase.itemBrand;let i = index">
                                                <td>{{brand}}</td>
                                                <td>{{purchase.itemType[i]}}</td>
                                                <td>{{purchase.itemSize[i]}}</td>
                                                <td>{{purchase.itemPrice[i]}} €</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
