<section style="background-color: ghostwhite; min-height: 100vh">
    <app-navigation-top></app-navigation-top>

    <div class="jumbotron jumbotron-fluid"
         style="background-image: url('../../assets/background.jpg');background-position: center;background-size: cover;
     background-repeat: no-repeat;color: white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-1 col-2">
                    <img src="../../assets/imi-logo.png" class="img-responsive" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="../../../assets/replay.png" class="img-responsive" width="100%">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3">
                                        <small>Umsatz</small>
                                        <h5>15.341 $</h5>
                                    </div>
                                    <div class="col-3">
                                        <small>Umsatz pro Stück</small>
                                        <h5>85 $</h5>
                                    </div>
                                    <div class="col-3">
                                        <small>Kleidungsstücke</small>
                                        <h5>320</h5>
                                    </div>
                                    <div class="col-3">
                                        <small>Verkauft</small>
                                        <h5>212</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <small>Umsatzverlauf</small><br>
                                        <img src="../../../assets/chart.png" class="img-responsive" height="200px" width="90%">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Verkaufsanteile</h5>
                                        <h6 style="color: grey">T-Shirt</h6>
                                        <div class="progress" style="margin: 10px">
                                            <div class="progress-bar" role="progressbar"style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h6 style="color: grey">Hemden</h6>
                                        <div class="progress" style="margin: 10px">
                                            <div class="progress-bar" role="progressbar" style="width: 15%"aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h6 style="color: grey">Jeans</h6>
                                        <div class="progress" style="margin: 10px">
                                            <div class="progress-bar" role="progressbar" style="width: 75%"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <h6 style="color: grey">Schuhe</h6>
                                        <div class="progress" style="margin: 10px">
                                            <div class="progress-bar" role="progressbar"style="width: 30%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Einkäufe</h5>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr style="color: grey">
                                                <th scope="col">Kunde</th>
                                                <th scope="col">Umsatz</th>
                                                <th scope="col">Käufe</th>
                                                <th scope="col">dshnt. Umsatz</th>
                                                <th scope="col">Letzer Kauf</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr>
                                                <td style="color: cornflowerblue">Max Mustermann</td>
                                                <td>
                                    <span class="badge badge-primary badge-pill"
                                          style="font-weight: 300;text-transform: uppercase;">
                                        4.564 $
                                        </span>
                                                </td>
                                                <td>2</td>
                                                <td>4.232 $</td>
                                                <td>17.02.2020</td>
                                            </tr>
                                            <tr>
                                                <td style="color: cornflowerblue">Max Mustermann</td>
                                                <td>
                                    <span class="badge badge-primary badge-pill"
                                          style="font-weight: 300;text-transform: uppercase;">
                                        4.564 $
                                        </span>
                                                </td>
                                                <td>2</td>
                                                <td>4.232 $</td>
                                                <td>17.02.2020</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
