<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active"
                       style="color: darkgoldenrod;font-size: 20px"
                       (click)="sortItemsByGender('woman')"
                       id="genderNavWoman">Damen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color: darkgrey;font-size: 20px"
                       (click)="sortItemsByGender('man')"
                       id="genderNavMan">Herren</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active"
                       style="color: darkgoldenrod;font-size: 15px"
                       (click)="sortItemsByType('all')"
                       id="typeNavAll">Alles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       style="color: darkgrey;font-size: 15px"
                       (click)="sortItemsByType('tops')"
                       id="typeNavTops">Oberteile</a>
                </li>
                <li class="nav-item" *ngIf="this.currentGender == 'woman'">
                    <a class="nav-link active"
                       style="color: darkgrey;font-size: 15px"
                       (click)="sortItemsByType('dress')"
                       id="typeNavDress">Kleider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color: darkgrey;font-size: 15px"
                       (click)="sortItemsByType('jackets')"
                       id="typeNavJackets">Jacken & Mäntel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color: darkgrey;font-size: 15px"
                       (click)="sortItemsByType('pants')"
                       id="typeNavPants">Jeans & Hosen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color: darkgrey;font-size: 15px"
                       (click)="sortItemsByType('shoes')"
                       id="typeNavShoes">Schuhe</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4" *ngFor="let c of cuttentClothings" style="padding-bottom: 20px">
            <div class="card mb-4" style="border: solid white 0px"
                 routerLink="/item/{{c.id}}">
                <div class="card-img-top text-center" style="height: 300px;background-color: white;overflow: hidden">
                    <img class="img-responsive" height="100%"style="border-bottom: solid darkgoldenrod 6px;max-width: 100vw;overflow-x: hidden" *ngIf="c.verified == true || c.verified == undefined"
                         src="http://www.imi-mode.besmnt.de/itemImages/{{c.id}}.png" alt="Card image cap">
                         <!--src="https://firebasestorage.googleapis.com/v0/b/shop-cfcbb.appspot.com/o/{{c.id}}_500x500.png?alt=media&token=14b76247-81f9-461e-bdd6-17cae0534251" alt="Card image cap">-->
                    <img class="img-responsive" height="100%"style="border-bottom: solid darkgoldenrod 6px;max-width: 100vw;overflow-x: hidden" *ngIf="c.verified == false"
                         src="https://firebasestorage.googleapis.com/v0/b/shop-cfcbb.appspot.com/o/{{c.id}}_500x500.png?alt=media&token=14b76247-81f9-461e-bdd6-17cae0534251" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div class="container-fluid"style="padding: 0">
                        <div class="row">
                            <div class="col-9">
                                <h5 class="card-title" style="color: darkgoldenrod">{{c.brand}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{c.description}}</h6>
                            </div>
                            <div class="col-3">
                                <p style="font-size: 13px">{{c.price}} €</p>
                            </div>
                        </div>
                    </div>

                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
