<section style="background-color: ghostwhite; min-height: 100vh">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">

                                    </div>
                                </div>
                                <div class="jumbotron jumbotron-fluid" style="background-color: transparent;padding-bottom: 10px">
                                    <div class="container">
                                        <h1 class="display-5">Herzlich Willkommen</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                                    </div>
                                </div>
                                <div class="row justify-content-center" *ngIf="this.workInProgress == false">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Marke</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="z.B. Mango"
                                                       name="marke" [(ngModel)]="clothing.brand">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Beschreibung</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                       placeholder="z.B. Sommerkleid mit Blumenmuster"name="marke" [(ngModel)]="clothing.description">
                                            </div>
                                            <div class="form-group">
                                                <label>Typ</label>
                                                <select class="form-control" id="exampleFormControlSelect1" rows="2"
                                                        name="marke" [(ngModel)]="clothing.type">
                                                    <option ngValue="tops">Oberteile</option>
                                                    <option ngValue="dress">Kleid</option>
                                                    <option ngValue="jackets">Jacken & Mäntel</option>
                                                    <option ngValue="pants">Jeans & Hosen</option>
                                                    <option ngValue="shoes">Schuhe</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Verfügbare Größen</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                       placeholder="z.B. S, M, L, XL, XXL" name="marke" [(ngModel)]="clothing.sizes">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Preis</label>
                                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="z.B. 44.50"
                                                       name="marke" [(ngModel)]="clothing.price">
                                                <small>Preis mit '.' und nicht mit ',' angeben!</small>
                                            </div>
                                            <div class="form-group">
                                                <label>Geschlecht</label>
                                                <select class="form-control" id="exampleFormControlSelect1" rows="2"
                                                        name="marke" [(ngModel)]="clothing.gender">
                                                    <option ngValue="man">Mann</option>
                                                    <option ngValue="woman">Frau</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1">Bild des Objekts</label>
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file"
                                                       (change)="addItem($event)" [(ngModel)]="file">
                                            </div>
                                            <button type="button" class="btn btn-primary"
                                                    style="border-radius: 0px; border: solid white 0px; background-color: darkgoldenrod"
                                                    (click)="addItemToDatabase()" *ngIf="transferReady"
                                            >Anlegen</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="container" *ngIf="this.workInProgress == true">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h6>Bitte warten..</h6>
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

