<section style="background-color: ghostwhite; min-height: 100vh">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-sm-block d-none">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-10">
                            <div class="container-fluid">
                                <div class="jumbotron jumbotron-fluid" style="background-color: transparent;padding-bottom: 10px">
                                    <div class="container">
                                        <h1 class="display-5">Herzlich Willkommen</h1>
                                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Aktuelles auf der Website</h4>
                                        <hr>
                                        <label for="exampleFormControlTextarea1" *ngIf="this.aktuellesActive === true">Live auf der Website</label>
                                        <div class="container py-4 shadow p-2 mb-1 bg-white rounded" style="background-color: black !important;"
                                             *ngIf="this.aktuellesActive === true">
                                            <div class="row">
                                                <div class="col-sm-3 col-12">
                                                    <h3 style="text-transform: uppercase;color: white;font-weight: 200">Aktuelles</h3>
                                                    <hr style="background-color: white">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2 col-3">
                                                    <img src="../../../assets/imi-logo.png" class="img-responsive" width="100%">
                                                </div>
                                                <div class="col-sm-10 col-12 my-auto">
                                                    <p style="color: white">{{aktuellesText}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-secondary float-right" style="background-color: darkred"
                                                (click)="deactivateNews()"*ngIf="this.aktuellesActive === true"><i class="fas fa-trash-alt"></i> Deaktivieren</button>

                                        <div class="alert alert-warning" role="alert" *ngIf="aktuellesActive == false">
                                            Aktuell befinden sich keine Neuigkeiten auf der Website!
                                        </div>
                                        <form *ngIf="this.aktuellesActive === false">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Aktuelles publizieren</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="aktuellesText" name="text"></textarea>
                                            </div>
                                            <button type="button" class="btn btn-primary float-right"
                                                    style="border-radius: 0px; border: solid white 0px; background-color: darkgoldenrod" (click)="publishNews()">
                                                <!--(click)="addItemToDatabase()" *ngIf="transferReady"-->Publizieren</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
