<section style="background-color: ghostwhite; min-height: 100vh">
    <app-navigation-top></app-navigation-top>

    <div class="jumbotron jumbotron-fluid"
         style="background-image: url('../../assets/background.jpg');background-position: center;background-size: cover;
     background-repeat: no-repeat;color: white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-1 col-2">
                    <img src="../../assets/imi-logo.png" class="img-responsive" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <app-side-navigation></app-side-navigation>
                        </div>
                        <div class="col-9" style="background-color: white">
                            <div class="container-fluid py-5">
                                <div class="row">
                                    <div class="col-sm-6 col-12">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Bestellung</span>
                                            <span class="badge badge-secondary badge-pill">{{items.length}}</span>
                                        </h4>
                                        <ul class="list-group mb-3">
                                            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let i of items; let in = index" style="margin-top: 10px">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <img src="http://www.imi-mode.besmnt.de/itemImages/{{i.id}}.png"
                                                                 class="img-responsive rounded" width="100%">
                                                        </div>
                                                        <div class="col-7">
                                                            <div>
                                                                <h6 class="my-0">{{i.brand}}</h6>
                                                                <small class="text-muted">{{i.description}}</small><br>
                                                                <small class="text-muted">{{order.sizes[in]}}</small>
                                                            </div>
                                                            <span class="text-muted">{{i.price}} €</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Versand</span>
                                        </h4>
                                        <form>
                                            <div class="form-group">
                                                <label for="inputAddress" style="color: darkgrey">Status</label>
                                                <h6>
                                        <span class="badge badge-primary badge-pill" *ngIf="order.orderState === 'new'"
                                              style="font-weight: 300;text-transform: uppercase;">
                                        {{order.orderState}}
                                        </span>
                                                    <span class="badge badge-primary badge-pill"
                                                          *ngIf="order.orderState === 'in Bearbeitung'"
                                                          style="font-weight: 300;text-transform: uppercase;
                                              background-color: mediumpurple">
                                        {{order.orderState}}
                                        </span>
                                                    <span class="badge badge-primary badge-pill"
                                                          *ngIf="order.orderState === 'Versandt'"
                                                          style="font-weight: 300;text-transform: uppercase;
                                              background-color: coral">
                                        {{order.orderState}}
                                        </span>
                                                    <span class="badge badge-primary badge-pill"
                                                          *ngIf="order.orderState === 'Abgeschlossen'"
                                                          style="font-weight: 300;text-transform: uppercase;
                                              background-color: darkseagreen">
                                        {{order.orderState}}
                                        </span>
                                                </h6>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress" style="color: darkgrey">Bestelldatum</label>
                                                <h6>{{order.orderCreation.toDate() |date: 'mediumDate'}}</h6>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress" style="color: darkgrey">Name</label>
                                                <h6>{{order.orderName}}</h6>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress" style="color: darkgrey">E-Mail</label>
                                                <h6>{{order.orderMail}}</h6>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress" style="color: darkgrey">Adresse</label>
                                                <h6>{{order.orderAdress}}</h6>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-8">
                                                    <label for="inputCity" style="color: darkgrey">Ort</label>
                                                    <h6>{{order.orderTown}}</h6>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputZip" style="color: darkgrey">PLZ</label>
                                                    <h6>{{order.orderPLZ}}</h6>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <button type="button" class="btn btn-primary" *ngIf="order.orderState == 'new'"
                                                        (click)="setOrderState('in Bearbeitung')">In Bearbeitung setzen</button>
                                                <button type="button" class="btn btn-primary" *ngIf="order.orderState == 'in Bearbeitung'"
                                                        (click)="setOrderState('Versandt')">Bestellung wurde versandt</button>
                                                <button type="button" class="btn btn-primary"  *ngIf="order.orderState == 'Versandt'"
                                                        (click)="setOrderState('Abgeschlossen')">Bestellung wurde abgeschlossen</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
