<app-navigation-top></app-navigation-top>

<div class="jumbotron jumbotron-fluid"
     style="background-image: url('../../assets/background.jpg');background-position: center;background-size: cover;
     background-repeat: no-repeat;color: white;background-color: black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-2 col-4">
                <img src="../../assets/imi-logo.png" class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>

<!--<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-12 text-center">
            <h3>Am <span style="color: darkgoldenrod">25.04.2020 um 18 Uhr</span> <br>geht IMIs Modewelt online!</h3>
            <hr>
            <h6 style="color: grey">Wir haben die Pause genutzt und eine Plattform erstellt, auf der wir Euch unser Sortiment übersichtlich darstellen können und Ihr Auswahlen bestellen könnt!
            </h6>
            <p style="color: grey">Trotz der Wiedereröffnung unseres Ladens, beliefern wir gerne weiterhin alle, die zurzeit vielleicht mit einem unguten Gefühl raus gehen oder keine Lust auf Maskenpflicht haben.
                Wir bringen Euch eure Auswahl direkt nach Hause!</p>
        </div>
    </div>
</div>-->

<div class="container py-3">
    <div class="row">
        <div class="col-sm-4 col-12 text-center py-3">
            <i class="fas fa-shopping-bag" style="font-size: 40px;color: darkgoldenrod;padding-bottom: 20px"></i>
            <h5>Stöbern<br>Sie im Shop.</h5>
        </div>
        <div class="col-sm-4 col-12 text-center py-3">
            <i class="fas fa-dolly" style="font-size: 40px;color: darkgoldenrod;;padding-bottom: 20px"></i>
            <h5>Lassen Sie sich<br>ihre Auswahl liefern.</h5>
        </div>
        <div class="col-sm-4 col-12 text-center py-3">
            <i class="fas fa-cash-register" style="font-size: 40px;color: darkgoldenrod;;padding-bottom: 20px"></i>
            <h5>Zahlen Sie nur das,<br>was Sie behalten.</h5>
        </div>
    </div>
</div>



<app-item-list></app-item-list>
